html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#nav.active {
  display: flex;
  position: absolute;
  right: 0;
  top: 4.4rem;
  background-color: #000;
  border-radius: 3px;
  padding: .5rem 1rem .5rem 2rem;
  text-align: right;
}

#nav.active a{
  display: block;
  color: #fff;
  font-weight: bold;
  padding: .3rem 0;
}
