html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* menu */
@media(max-width: 640px) {
  #nav.active {
    display: flex;
    position: absolute;
    right: 0;
    top: 4.4rem;
    background-color: #000;
    border-radius: 3px;
    padding: .5rem 1rem .5rem 2rem;
    text-align: right;
  }
  
  #nav.active a{
    display: block;
    color: #fff;
    font-weight: bold;
    padding: .3rem 0;
  }  
}


/* dark mode */

/* header */
header.dark {
  background-color: #1f1f1f;
}

header.dark a{ 
  color: #fff;
}

#menu.dark{
  color: #fff;
}

/* hero */
section.dark {
  background-color: #121212;
  color: #fff;
}

section.dark h1{
  background: linear-gradient(to right,#fff 0%,#1069a0 100%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

section.dark .circle li {
  background: rgba(255, 255, 255, 0.1);
}


/* about */
#about.dark::before, #about.dark::after {
  background-color: #121212;
}

/* skills */
#skills.dark {
  background-color: #121212;
}

#skills.dark h2 {
  color: #000;
    text-shadow: 1px 0 0 #fff, 0px 0px 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

#skills.dark h2::before {
  color: rgba(255,255,255,.1);
}

#skills.dark h2 > span {
  color: #fff;
}

/* technology */

.dark.tech {
  background-color: #1e1e1e;
  border-radius: 10px;
}

.dark.tech h4{
  color: #fff;
}

/* footer */

footer.dark{
  background-color: #121212;
}